


.admin_content {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .admin_categories {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;

        .card_category {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
            -o-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
            -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
            -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
            -ms-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
            -khtml-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
            width: 25%;
            padding: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: black;

            i {
                font-size: 2em;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }

            h3 {
                font-size: 1em;
            }
        }

        .card_category:hover {
            color: #ff0000;
        }
    }
}