.cart_page {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .articles {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;
        table {
            margin: auto;
            width: 100%;


            tfoot, tbody,
            thead {
                border: 1px solid black;

                tr {
                    margin: 0;
                    border: 1px solid black;
                    display: flex;
                    justify-content: space-around;

                    td {
                        margin: auto 0;
                        width: 10em;

                        i {
                            color: black;
                            cursor: pointer;
                        }

                        i:hover {
                            color: #960200;
                        }
                        img {
                            width: 3em;
                        }
                    }
                }
            }
        }

        .border_none {
            border: none;
        }
    }
}