.change_rights {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;

    h2 {
        margin-bottom: 1em;
    }

    .form_rights {
        margin: 0.5em;
        margin-left: 0;
        display: flex;
        flex-direction: column;

        input,
        select{
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            height: 2em;
            font-size: 1em;
        }

        select {
            background-color: white;
        }
    }

    .valid_btn {
        background-color: #960200;
        padding: 1em;
        font-family: 'Roboto', sans-serif;
        color: white;
        border: none;
    }

    .valid_btn:hover {
        background-color: #960200;
        padding: 1em;
        font-family: 'Roboto', sans-serif;
        color: black;
    }


}
