.change_products {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 2em;

    .add_remove {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;

        h2 {
            margin-bottom: 1em;
        }

        .form_product {
            margin: 0.5em;
            margin-left: 0;
            display: flex;
            flex-direction: column;

            p,
            input, select, textarea {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                height: 2em;
                font-size: 1em;
            }

            select {
                background-color: white;
            }

            textarea {
                height: 5em;
            }
        }

        .valid_btn {
            background-color: #960200;
            padding: 1em;
            font-family: 'Roboto', sans-serif;
            color: white;
            border: none;
        }

        .valid_btn:hover {
            background-color: #960200;
            padding: 1em;
            font-family: 'Roboto', sans-serif;
            color: black;
        }


    }
}