html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

h1,h2,h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0;
}

h1 {
    color: black;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: black;
}

.container{
    display: block;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

ul {
    list-style-type: none;
}


.logo {
    height: 8em;
}

.addcart_button {
    background-color: #960200;
    padding: 1em;
    margin: 1em;
    text-transform: uppercase;
}

.wine_bottle {
    width: 8em;
    margin-top: 1em;
}

.fa-chevron-circle-up {
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-size: 2em;
    z-index: 1;
    color: #ff0000;
    visibility: hidden;
}

.modal-content .col-4{
    width:calc(100% / 3);
  }
  .modal-content .col-8{
    width:calc((100% / 3) * 2);
  }
  .modal-content .row{
    display: flex;
    flex-direction: row;
  }
  .modal-content .row > div{
    padding: 0 15px;
  }
  .modal-content .col-4 img{
    width:100%;
    max-width:100%;
  }
  
@media(min-width:576px){
    .container{
        max-width: 540px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:768px){
    .container{
        max-width: 720px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:992px){
    .container{
        max-width: 960px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:1200px){
    .container{
        max-width: 1140px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

