.detail_content {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;

    .first_datas {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
        margin-bottom: 1em;

        img {
            width: 20em;
            height: auto;
        }

        .presentation {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .stock {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                i {
                    margin-right: 0.5em;
                    font-size: 2em;
                    color: #960200;
                }
            }

            .addcart_button {
                margin: 0;
                width: fit-content;
            }
        }
    }

    .detail_datas {
        margin-bottom: 1em;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
        -o-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
        -ms-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
        -khtml-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
        width: fit-content;
        padding: 1em 2em;

        .detail_category {
            display: flex;
            justify-content: space-around;

            .bold {
                font-weight: bold;
                width: 10em;
            }
        }
    }
}