.top_footer {
    background-color: #362417;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;

    .footer_categories {
        margin: 1em;
        display: flex;
        flex-direction: column;

        .medias {
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;

            .media_icons {
                font-size: 1.5em;

                display: flex;
                justify-content: space-between;
            }
        }

        li {
            padding-bottom: 0.5em
        }
        h3 {
            color: white;
            padding-bottom: 0.5em;
            margin-bottom: 0.5em;
            border-bottom: 1px solid white;
            width: max-content;
        }

    }

    .logo {
        height: 10em;
        margin-right: 2em;
    }
}

.bottom_footer {
    margin: 0;
    background-color: black;
    padding: 0.1em;
    color: white;
    text-align: center;
}