.top_header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    .first_bloc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;

        .searchbar {
            padding: 0.5em;
            background-color: white;
            font-size: 20px;
            border-radius: 0.5em;

            input {
                border: none;
                width: 20em;
                font-size: 20px;
                height: 2em;
            }

            input:hover,
            input:focus {
                border: none;
                outline: none;
            }
        }

        .searchbar:hover {
            border: 2px solid #ff0000;
        }

    }

    .header_buttons {
        color: white;
        display: flex;
        width: 25%;
        height: 2em;
        flex-direction: column;

        a:hover {
            color: #ff0000;
        }

        .icon_buttons {
            display: flex;
            justify-content: space-around;
            width: 100%;

            .fas,
            .far {
                font-size: 2em;
            }
    
            .cart {
                display: flex;
                position: relative;
    
                #cart_count {
                    position: absolute;
                    left: 1em;
                    bottom: 1em;
                }
            }
        }

        p {
            align-self: center;
        }
    
    }
}

nav {
    background-color: #960200;
    margin: 0;
    padding: 0;
    color: white;
    position: relative;

    ul {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;

        li {
            padding: 1em;

            a:hover {
                color: black;
            }
        }

        .menu_subcategories {
            background-color: #fff;
            display: none;
            position: absolute;
            top: 3.5em;
            left: 0;
            width: 100%;
            color: black;
            border: 1px solid #960200;
            box-shadow: 0 0 2px #960200;
            -o-box-shadow: 0 0 2px #960200;
            -moz-box-shadow: 0 0 2px #960200;
            -webkit-box-shadow: 0 0 2px #960200;
            -ms-box-shadow: 0 0 2px #960200;
            -khtml-box-shadow: 0 0 2px #960200;
            z-index: 1;
        }

        li:hover {
            .menu_subcategories {
                display: flex;
                justify-content: space-around;
                align-items: center;

                a {
                    color: black;
                }

                a:hover {
                    color: #ff0000;
                }
            }
        }

        .menu_subcategories:hover {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


@media(max-width: 1000px) {
    .top_header {
        .first_bloc {
            width: 70%;
        }
    }

}

@media(max-width: 835px) {
    .top_header {
        flex-direction: column;
        align-items: center;

        .first_bloc {
            width: 100%;
            justify-content: space-around;
        }

        .header_buttons {
            margin: 1em;
            justify-content: space-evenly;
            height: fit-content;
            align-items: center;
            width: 100%;
            
            .icons_buttons {
            i {
                margin-left: 1em;
                margin-right: 1em;
            }

            p {
                width: max-content;
            }

        }
        }
    }

    nav {
        ul {
            li {
                h2 {
                    font-size: 0.9em;
                }

                .menu_subcategories {
                    top: 3em;

                    h3 {
                        font-size: 0.7em;
                    }
                }
            }
        }
    }
}

@media(max-width: 600px) {
    .top_header {
        .first_bloc {
            flex-direction: column;
            align-items: center;

            .searchbar {
                margin-bottom: 1em;

                input {
                    width: 10em;
                }
            }
        }
    }
}

@media(max-width: 500px) {
    nav {
        ul {
            li {
                h2 {
                    font-size: 0.7em;
                }

                .menu_subcategories {
                    top: 3em;

                    h3 {
                        font-size: 0.5em;
                    }
                }
            }
        }
    }
}