.introduction {
    width: 100%;
    position: relative;

    .intro_img {
        background-image: url(../images/vine.jpg);
        height: 50vh;
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1 {
        color: white;
        position: absolute;
        left: 2em;
        top: 3em;
    }
}

.selection {
    margin-top: 1em;
    margin-bottom: 1em;

    h2 {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .selection_blocs {
        display: flex;
        justify-content: space-around;

        .products_bloc {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 4px 4px rgba(0,0,0,0.26);
            -o-box-shadow: 0px 4px 4px rgba(0,0,0,0.26);
            -moz-box-shadow: 0px 4px 4px rgba(0,0,0,0.26);
            -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.26);
            -ms-box-shadow: 0px 4px 4px rgba(0,0,0,0.26);
            -khtml-box-shadow: 0px 4px 4px rgba(0,0,0,0.26);
            text-align: center;
            height: fit-content;
            width: 29%;
            margin-left: 1em;
            margin-right: 1em;
            margin-bottom: 2em;

            .product_card {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: black;

                h4 {
                    width: 85%;
                    margin: 0.5em 0;
                }

                p {
                    margin: 0.5em;
                }
            }

            .product_card:hover {
                color: red;
            }
            .cart_status {
                display: flex;
                flex-direction: column;
                align-items: center;
                .stock {
                    display: flex;
                    align-items: center;

                    i {
                        margin-right: 0.5em;
                        font-size: 2em;
                        color: #960200;
                    }
                }
            }
        }
    }
}

.wine_categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2em;
    margin-bottom: 2em;

    .two_categories {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
        margin-bottom: 1em;

        .category_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 0;
            width: 36%;

            .categories_img {
                width: 100%;
            }

            h3 {
                position: absolute;
                top: 50%;
                visibility: hidden;
            }
        }

        .category_content:hover {
            color: black;

            .categories_img {
                opacity: 0.5;
            }

            h3 {
                visibility: visible;
            }
        }

    }
}


@media(max-width: 768px) {
    .selection {
        .selection_blocs {
            flex-direction: column;
            align-items: center;

            .products_bloc {
                flex-direction: row;
                width: 90%;
            }
        }
    }
}

@media(max-width: 500px) {
    .wine_categories {
        .two_categories {
            .category_content {
                h3 {
                    font-size: 0.8em;
                }
            }
        }
    }
}