.products_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;

    .product_content {
        display: flex;
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;

        .products_categories {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
            -o-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
            -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
            -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
            -ms-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
            -khtml-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
            padding: 1em;
            height: fit-content;

            ul {
                padding-right: 1em;
                padding-left: 1em;

                li {
                    margin: 0;
                    padding-top: 0.5em;
                    font-size: 0.9em;
                    padding-bottom: 0.5em;

                    a {
                        color: black;

                    }

                    a:hover {
                        color: #ff0000;
                    }

                    .menu_subcategories {
                        margin: 0;
                        list-style-position: inside;
                        padding-bottom: 0;
                        font-size: 1em;
                    }
                }

                .admin {
                    display: none;
                }
            }

        }

        .products {
            display: flex;
            flex-wrap: wrap;
            width: 85%;
            justify-content: flex-start;

            .products_bloc {
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
                -o-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
                -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
                -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
                -ms-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
                -khtml-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
                text-align: center;
                height: fit-content;
                width: 29%;
                margin-left: 1em;
                margin-right: 1em;
                margin-bottom: 2em;

                .product_card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: black;

                    h4 {
                        width: 85%;
                        margin: 0.5em 0;
                    }

                    p {
                        margin: 0.5em;
                    }
                }

                .product_card:hover {
                    color: red;
                }

                .cart_status {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .stock {
                        display: flex;
                        align-items: center;

                        i {
                            margin-right: 0.5em;
                            font-size: 2em;
                            color: #960200;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 991px) {
    .products_page {
        .product_content {
            .products {
                .products_bloc {
                    flex-direction: row;
                    width: 90%;
                }
            }
        }
    }

    // .selection {
    //     .selection_blocs {
    //         flex-direction: column;
    //         align-items: center;


    //     }
    // }
}