.profile_content {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form_bloc {


        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 2em;
            margin-bottom: 2em;

            .form_cat {
                margin: 0.5em;
                margin-left: 0;
                display: flex;
                flex-direction: column;
                width: 100%;

                input {
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;
                    height: 2em;
                    font-size: 1em;
                    width: 100%;
                }
            }

            .valid_btn {
                background-color: #960200;
                padding: 1em;
                font-family: 'Roboto', sans-serif;
                color: white;
                border: none;
            }

            .valid_btn:hover {
                background-color: #960200;
                padding: 1em;
                font-family: 'Roboto', sans-serif;
                color: black;
            }
        }
    }
}